<div class="container my-3 fade-in">
    <h1 class="text-white">
        Bienvenido al sitio web donde se publicarán todas mis tareas relacionadas a:
    </h1>
    <br>
    <div class="list-group">
        <a [routerLink]="['/homeworks/sspso']"   class="list-group-item list-group-item-action">Seminario de solución de problemas de sistemas operativos</a>
        <a [routerLink]="['/homeworks/sspsor']"   class="list-group-item list-group-item-action">Seminario de solución de problemas de sistemas operativos de red</a>
    </div>
</div>