<div class="container my-3 fade-in">
    <h1 class="text-white">
        Bienvenido al sitio web donde se publicarán todas mis tareas relacionadas a:
    </h1>
    <br>
    <div class="list-group">
        <a [routerLink]="['/homeworks/sspso']"   class="list-group-item list-group-item-action">Seminario de solución de problemas de sistemas operativos</a>
        <a [routerLink]="['/homeworks/sspsor']"   class="list-group-item list-group-item-action">Seminario de solución de problemas de sistemas operativos de red</a>
    </div>
    <div class="text-white my-4 text-justify">
        <h4>
            Éste sitio web servirá como un apoyo para dichas materias, funcionando como un contenedor para las tareas en las cuáles se requiera utilizar un formato
            web, todo el contenido que se publique en éste sitio es con propósitos educativos.

        </h4>

    </div>
</div>