/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
    
}

body > .container {
  padding: 60px 15px 0;
  color: white;
  
}

body {
  margin-bottom: 60px;
  background: url('assets/images/background.png');
  background-size: cover;
}

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:100;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:100;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:100;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:100;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:100;}
  }
  


  